@use "scss/meta" as *;

.componentsSubList {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
  position: relative;
}

.component {
  position: relative;
  background: $layer-primary;
  width: calc(50% - 1.5em);
  height: 10em;
  margin: 0.2rem;
  text-decoration: none;
  color: $text-primary;
  // padding: 0.3em;
  overflow: hidden;
  > * {
    pointer-events: none;
  }
}

.name {
  font-weight: 500;
  position: absolute;
  z-index: 10000;
  background: $layer-primary;
  top: 0em;
  left: 0em;
  color: $text-primary;
  padding: 0.3em 0.9em;
  font-size: 0.8em;
}
