$css--body: true;
$css--reset: true;

@use "@wfp/themes-core/dist/scss/default-css-theme" as defaulttheme;
@use "@wfp/themes-core/distDark/scss/default-css-theme" as darkTheme;

@use "@wfp/styles/scss/global-defaults" as globalDefaults;
@use "@wfp/styles/scss/theme";
@use "@wfp/styles/index";

// Use the WFP theme
:root {
  @include defaulttheme.theme-default();
  // font-family: var(--font-family-primary);
}

body,
.sbdocs-wrapper.sbdocs {
  @include globalDefaults.globalDefaults();
}

.wfp--theme-dark {
  @include darkTheme.theme-dark();
}

.docs-story > * {
  overflow: visible !important;
}

.docs-story > div:last-child {
  z-index: 0 !important;
}

.fullPage {
  .sbdocs-content {
    margin: 0;
    max-width: inherit !important;
  }
}

.sbdocs-h1,
.sbdocs-title {
  font-weight: 500 !important;
  margin-bottom: 1em !important;
}

.sbdocs-wrapper {
  margin: 3px !important;
  padding: 0 !important;
  min-height: 0 !important;
}

.documentation {
  .docblock-argstable-body {
    p,
    span {
      font-size: 0.8rem !important;
    }
  }
}
