@use "scss/meta" as *;

.token {
  background: $layer-primary;
  margin-bottom: 1.5rem;
  //padding: 1em;
}

.description {
  width: 50%;
}

.color {
  width: 3rem;
  height: 2rem;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(#000, 0.05);
}

.value {
  min-height: 2rem;
  padding: 0.5em 0.5rem;
  width: 100%;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: $layer-primary;
}

.preview {
  //  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallTokens {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin-right: 0.3em;
  }
}

.list {
  // font-size: 0.7em;
}

.raw {
  font-size: 0.5em;
  line-height: 1em;
  white-space: pre;
}

.tooltip {
  min-width: 500px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

h5.tokenHeading {
  font-size: 0.8em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 1em;
  min-width: 7em;
  max-width: 7em;
  line-height: 1.1;
}

h1.heading {
  font-size: 1.5em;
  margin-top: 0.7em;
  margin-bottom: 0em;
}

h3.name {
  font-size: 1.5em;
  margin-top: 0.1em;
  margin-bottom: 0em;
}

.breadcrumb {
  font-size: 0.9em;
}

.tooltipPreview {
  width: 7rem;
  min-height: 14rem;
  margin-right: 1rem;
  display: flex;
  align-items: stretch;
}

.tooltipColor {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.list {
  :global(.wfp--list__element) {
    margin-bottom: 0;
  }
  :global(.wfp--list__element__title) {
    font-size: 0.6em;
    margin-bottom: -0.5em;
  }
}

.wcagScore {
  display: flex;
  font-size: 0.7em;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  > * {
    padding: 0.3em;
  }
}

.wcagScoreLabelWhite {
  color: #fff;
}

.tokenCategory {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
}

.rawJson {
  font-size: 0.7em;
  line-height: 1.2em;
  white-space: pre;
  font-family: var(--font-family-courier-new);
}

.borderRadius {
  border: 1px solid $text-secondary;
  width: 4em;
  height: 4em;
}
