@use "scss/meta" as *;

.codeBlock {
  overflow: auto;
}

.code {
  position: relative;
  &:hover {
    .copyButton {
      opacity: 1;
    }
  }
}

.copyButton {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  opacity: 0;
  background-color: transparent;
}

.liveEditor {
  background: black;
  position: relative;

  h3 {
    color: $text-on-color;
    opacity: 0.7;
    text-align: center;
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
  }
  :global(.prism-code) {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace !important;
  }
}

.previewInside {
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallPreview {
  height: 100%;
  .previewWrapper {
    height: 100%;
  }
  .previewInside {
    height: 100%;
  }
  .preview {
    // height: 100%;
  }
}

.center {
  .preview {
    /*  display: flex;
    justify-content: center;
    align-items: center; */
  }
}

.normalPreview {
  .previewWrapper {
    border: 1px solid $border-strong;
    // margin-top: 1em;
  }
  .previewWithSource {
    border-radius: 10px 10px 0 0;
    :global(.prism-code) {
      border-radius: 0 0 10px 10px;
    }
  }
  .showWrapper {
    border-radius: 0 0 10px 10px;
    border: 1px solid $border-strong;
  }
  .previewWrapper {
    background: $background-main;
  }

  &.center {
    .preview {
      min-height: 10em;
    }
  }
}

.fullWidth {
  .previewWrapper {
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 5em;
      bottom: 0;
      position: absolute;
      top: 0px;
      right: 0;
      border-radius: 0 10px 0 0;
      pointer-events: none;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgb(246, 246, 246, 0.5) 100%
      );
      z-index: 100;
      right: 0;
    }
  }
  .previewInside {
    overflow: auto;
  }
  .preview {
    width: 1000px;
  }
}

.rtl {
  .previewWrapper {
    direction: rtl;
  }
}

.showWrapper {
  .previewWrapper {
    border: 1px solid $border-strong;
  }
}

.collapseCode.showExpandButton {
  :global(.prism-code) {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      left: 0;
      right: 0;
      height: 3em;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}

.showAllCodeWrapper {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0em;
  bottom: 0em;
  cursor: pointer;
  padding: 0.3em;
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: #fff;
}

.buttons {
  position: absolute;
  right: 0;
  top: -2em;
}

.showAllPropsButton {
  margin-left: 0.3em;
  padding: 0.5em;
  height: 2em;
}
